.btn-primary {
  display: inline-block;
  font-size: 1.05em;
  font-family: 'Public Sans', sans-serif;
  font-weight: 300;
  text-decoration: none;
  text-align: center;
  padding: 12px 30px;
  margin: 10px 0px;
  border: 1px transparent solid;
  border-radius: 26px;
  color: white;
  background: -webkit-gradient(linear, left top, right top, from(#30d35c), to(#2ab6d9));
  background: -webkit-linear-gradient(left, #30d35c 0%, #2ab6d9 100%);
  background: -o-linear-gradient(left, #30d35c 0%, #2ab6d9 100%);
  background: linear-gradient(90deg, #30d35c 0%, #2ab6d9 100%);
  -webkit-transition: all .7s;
  -o-transition: all .7s;
  transition: all .7s; }
  .btn-primary:hover {
    background: -webkit-gradient(linear, left top, right top, from(rgba(48, 211, 92, 0.7)), to(rgba(42, 182, 217, 0.7)));
    background: -webkit-linear-gradient(left, rgba(48, 211, 92, 0.7) 0%, rgba(42, 182, 217, 0.7) 100%);
    background: -o-linear-gradient(left, rgba(48, 211, 92, 0.7) 0%, rgba(42, 182, 217, 0.7) 100%);
    background: linear-gradient(90deg, rgba(48, 211, 92, 0.7) 0%, rgba(42, 182, 217, 0.7) 100%); }

/*.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }*/
body {
  font-family: 'Public Sans', sans-serif; }

h1 {
  font-size: 2.85em;
  font-weight: 400; }

h2 {
  font-size: 2.3em;
  font-weight: 400; }

h3 {
  font-size: 1.3em;
  font-weight: 400; }

h4 {
  font-weight: 400;
  font-size: 1.26em;
  -webkit-margin-before: 0.9em;
  margin-block-start: 0.9em;
  -webkit-margin-after: 0.9em;
  margin-block-end: 0.9em; }

h5 {
  font-weight: 400;
  color: #9698a6; }

p {
  color: #9698a6;
  font-weight: 400; }

/*=============================================
    MOVIL VERTICAL (revisamos en 320PX)
=============================================*/
@media (min-width: 375px) {
  body {
    font-size: 15px; }
  .padding-relleno {
    padding: 25px 30px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .header {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 75px;
    z-index: 3;
    background-color: white; }
  .menu {
    display: none;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 65%;
    -webkit-box-align: space-around;
    -ms-flex-align: space-around;
    align-items: space-around;
    background-color: whitesmoke;
    position: absolute;
    top: 80px;
    padding: 20px; }
    .menu__link {
      text-align: center;
      text-decoration: none;
      margin: 20px 0px;
      color: black;
      font-size: 1.05em;
      font-family: 'Public Sans', sans-serif;
      font-weight: 400;
      -webkit-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s; }
  .btn-menu img {
    width: 28px; }
  .header__boton {
    display: none; }
  .portada {
    width: 100%;
    display: -ms-grid;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .portada-texto {
    padding: 25px 50px;
    margin: 0px auto;
    text-align: center;
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    max-width: 450px; }
  .portada-imagen {
    width: 100%;
    height: 275px;
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    background-image: url("/images/bg-intro-desktop.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; }
    .portada-imagen img {
      position: absolute;
      top: -130px;
      width: 100%; }
  .feature {
    background-color: #f3f4f6; }
  .features-texto {
    text-align: center;
    max-width: 490px; }
  .container-features {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    margin-top: 60px; }
  .features {
    text-align: center; }
  .container-lastnews {
    display: -ms-grid;
    display: grid;
    grid-gap: 22px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    margin-top: 60px; }
  .lastnews-image img {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    width: 100%;
    height: 180px; }
    .lastnews-image img:hover {
      -webkit-filter: brightness(0.7);
      filter: brightness(0.7); }
  .lastnews-block a {
    -webkit-transition: all 0.2s;
    -o-transition: all 0.2s;
    transition: all 0.2s;
    color: black;
    text-decoration: none; }
    .lastnews-block a:hover {
      color: #31d35c; }
  .footer {
    -webkit-box-sizing: none;
    box-sizing: none;
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
    justify-items: center;
    margin-top: 60px;
    background-color: #2d314d; }
  .marca {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .marca > * {
    margin: 18px 0px; }
  .redes-sociales {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    list-style-type: none;
    padding: 0px; }
    .redes-sociales li {
      margin: 5px 10px; }
      .redes-sociales li img {
        width: 28px; }
  .footer-menu {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center; }
  .footer-menu-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    list-style-type: none;
    padding: 0px; }
    .footer-menu-1 li {
      margin: 14px 0px; }
      .footer-menu-1 li a {
        text-decoration: none;
        color: white;
        font-size: 1.2em;
        font-family: 'Public Sans', sans-serif;
        -webkit-transition: all 0.3s;
        -o-transition: all 0.3s;
        transition: all 0.3s; }
        .footer-menu-1 li a:hover {
          color: #31d35c; } }

/*=============================================
    MOVIL VERTICAL (revisamos en 1020PX)
=============================================*/
@media (min-width: 1280px) {
  .padding-relleno {
    padding: 70px 100px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box; }
  .menu {
    position: static;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    width: auto;
    height: 100%;
    padding: 0px;
    margin: 0px;
    background-color: transparent; }
    .menu__link {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      height: 100%;
      margin: 0px 13.2px;
      padding: 0px;
      border-bottom: 4px transparent solid;
      background-color: transparent;
      text-decoration: none;
      font-size: 1em;
      font-family: 'Public Sans', sans-serif;
      font-weight: 300;
      -webkit-transition: all .7s;
      -o-transition: all .7s;
      transition: all .7s; }
      .menu__link:hover {
        color: black;
        border-bottom: 4px #31d35c solid; }
  .btn-menu {
    display: none; }
  .header__boton {
    display: inline-block; }
  .portada {
    height: 85vh; }
  .portada-texto {
    -webkit-box-ordinal-group: 2;
    -ms-flex-order: 1;
    order: 1;
    text-align: left;
    padding: 0px 85px;
    margin: 0px 0px;
    max-width: 380px; }
  .portada-imagen {
    -webkit-box-ordinal-group: 3;
    -ms-flex-order: 2;
    order: 2;
    width: 100%;
    height: 100%;
    background-image: url("/images/bg-intro-desktop.svg");
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative; }
    .portada-imagen img {
      position: absolute;
      top: -130px;
      width: 100%;
      z-index: 1; }
  .features-texto {
    text-align: left; }
  .features {
    text-align: left;
    max-width: 270px; }
  .lastnews {
    max-width: 270px; }
  .footer {
    display: -ms-grid;
    display: grid;
    grid-gap: 20px;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start; }
  .footer > * {
    margin: 0px 10px; }
  .footer-menu-1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
    list-style-type: none;
    padding: 0px;
    margin: 0px 34px; }
  .footer__boton .btn-primary {
    margin-left: 55px; } }
